.content {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
}

.inputs {
padding:20px;
}

.inputs p {
  font-size:20px;
  margin-top:10px;
  margin-bottom:2px;
}

@media (max-width: 767px) {
  .content {
    flex-direction:column;
  }
}
